page-tradesmansignup {
.bidborder{
	border:3px solid  
}
.biddiv{
   margin-bottom: -6px;
    margin-top: 16px;
}
.bidlabel{
 padding: 3px;
  font-size: 1.5rem !important;
}
.bidlog{
 margin-top: 54px;
}
.bidbutton{
	  background-color: #1c9b9b;
    color: #fff;
    width: 100%;
}
.Signuptradesimg
{
	 background-color: rgba(0, 0, 0, 0.1);
    margin-top: 23px;
    padding: 20px;
}
}
