page-contactusbidwork {
.contact-box{
background-color: #79587f;
    height: 94px;
    padding:7px ;
    margin-bottom: 57px;
}
.contact-box1{
background-color: #47ADAD;
    height: 81px;
    margin-top: 30px;
}
.contact-box2{
background-color: #47ADAD;
    height: 81px;
    margin-top: 0.4px;

}
.contact-box3{
background-color: #47ADAD;
    height: 181px;
    margin-top: 0.7px;	
}
.transclass{
 background-color: #47adad;
    color: #ffff;
    margin-bottom: 2px;
}
.text-input::-moz-placeholder {
    color: black;
}
}
