page-tradesmanlogin {
.bidborder{
	border:3px solid  
}
.biddiv{
margin-top:32px 
}
.bidlabel{
 padding: 3px;
  font-size: 1.5rem !important;
}
.bidp
{
text-align:center; 
 margin-top: 27px;
}
.bidu{
color:#1C9B9B; 
}
.bidlog{
margin-top: 24px;
}
.bidline{
	background-color: black;
    margin-top: 48px;
    padding: 0.2px;
    position:relative; 
}
.biddiv1
{
	 background-color: #FFFFFF;
    background-radius: 30px;
    border-radius: 16px;
    height: 36px;
    width: 35px;
    position:absolute; 
    left: 144px;
    top: 75%;
    z-index: 100;
}
.bidp1{
	 margin: 9px 1px 1px 5px;
    padding: 1px;
}
.bidp2{
	 margin-top: 50px;
    text-align: center;
}
.bidu1{
	  color: #1c9b9b;
    padding: 2.7px;
}
}
