page-listofcategorydetails {
.img-box{ 

    border-radius: 50%;
    height: 70px;
    left: -35px;
    position: absolute;
    width: 70px;
    overflow:hidden; 
}
.text-box{
  background-color: rgba(0, 0, 0, 0.06);
    box-shadow: 5px 5px 5px -5px;
    height: 70px;
     margin: 10px 29px auto;
    position: relative;
   width: 92%;
   border-radius: 36px;
}


.chip-name{
  
// margin-left: 44px;
// margin-right: 0;
// margin-top: 5px;
// margin-bottom: 2px;
color: rgba(0,0,0,.8);
background-color: rgba(0,0,0,.2);
 left: 74px;
    position: relative;
    top: 17px;
}
.chip-name2{
     
// margin-left: 44px;
// margin-right: 0;
// margin-top: 8px;
// margin-bottom: 2px;
color: rgba(0,0,0,.8);
background-color: rgba(0,0,0,.2);



}

.icontrades{
    color:#5B3162;
      padding: 7px;
      
}
}
