<!--
  Generated template for the Tradesmanappointdetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="bidpurple">
    <ion-title>Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <ion-slides pager style="height: 250px;">
    <ion-slide style="background-color: #002">
<img *ngIf="img11==true" src="http://titan.promaticstechnologies.com/bidwork/public/jobImages/{{image1}}">
<img *ngIf="img1==true" src="assets/img/Npa.jpg">
    </ion-slide>
    <ion-slide style="background-color: #020">
<img *ngIf="img12==true" src="http://titan.promaticstechnologies.com/bidwork/public/jobImages/{{image2}}">
<img *ngIf="img2==true" src="assets/img/Npa.jpg">
    </ion-slide>
    <ion-slide style="background-color: #200">
<img *ngIf="img13==true"  src="http://titan.promaticstechnologies.com/bidwork/public/jobImages/{{image3}}">
<img *ngIf="img3==true" src="assets/img/Npa.jpg">
    </ion-slide>
  </ion-slides>
   <div style="float: left;width: 100%;" text-left>
    <ion-label no-margin style="padding:15px 0 10px 10px;float:left;font-size:2rem;width: 50%">{{job_title}}</ion-label>
  </div>
  <div style="float: left;width: 100%;  margin-top: -14px;" text-left>
    <div text-center style="margin:10px 10px;float:left;border-radius: 5px;border:1px solid #333;font-size: 1.1rem; width: 80px; ">Category:{{job_category}}</div>
  </div>
  <div style="float: left;width: 100%;" text-left>
    <ion-label no-margin style="padding:15px 0 10px 10px;float:left;font-size:2rem;width: 100%;">Job Description:</ion-label>
    <ion-label no-margin style="white-space: normal;padding:0 0 10px 10px;float:left;font-size:1.2rem;width: 100%;">{{job_description}}
    </ion-label>
  </div>


  <div style="float: left;width: 100%;"  >
    <ion-label no-margin style="padding:15px 0 5px 10px;float:left;font-size:2rem;width: 100%;">Address: {{job_location}}</ion-label>
  </div>

  

<div style="float: left;width: 100%;"  >
    <ion-label no-margin style="padding:15px 0 5px 10px;float:left;font-size:2rem;width: 100%;">Time Scheduled: {{time}}</ion-label>
   <!--  <ion-label no-margin style="padding:0 0 0 10px;float:left;font-size:1.5rem;width: 100%;">{{time}}</ion-label> -->
  
  </div>
<div style="float: left;width: 100%;"  >
    <ion-label no-margin style="padding:15px 0 5px 10px;float:left;font-size:2rem;width: 100%;">Date Scheduled: {{date}}</ion-label>
   <!--  <ion-label no-margin style="padding:0 0 0 10px;float:left;font-size:1.5rem;width: 100%;">{{date}}</ion-label> -->
  
  </div>
 <button ion-button block style="float:left;margin: 20px 10%;box-shadow: none;width: 80%;" full color="bidgreen" (click)="VIEWLOACATION()">View Location</button>






</ion-content>
