page-nearbyjobs {
#nearbytrades {

      width: 100%;
      height: 100%;
         position: initial !important;
    }



    #nearbytradeshundred{
    	width: 100%;
      height: 100%;
         position: initial !important;
    }



    #nearbytradestwohundred{
    width: 100%;
      height: 100%;
         position: initial !important;	
    }
}
