page-licenseuploadtradesman {
.Signuptradesimg
{
	background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
 
    height: 404px;

    margin-top: 23px;
    padding: 20px;
    width: 321px;
}
.bidlog{
 margin-top: 54px;
}
.bidbutton{
	  background-color: #1c9b9b;
    color: #fff;
    width: 100%;
}
}
