page-myprofile {
.Bidprofileimage
{
	  border-radius: 10px;
    float: right;
    height: 90px;
    // margin-right: -99px;
    // margin-top: -9px;
    width: 194px;
}
.bidimagepro{
border: 0 none;
    border-radius: 120px;
    height: 94px;
    max-width: 46%;
    width: 218px;
}
.bidborder{
	border:3px solid  
}
.biddiv{
 display: inline-block;
    margin-top:-9px;
    width: 100%;
}
.bidlabel{
 padding: 3px;
  font-size: 1.5rem !important;
}
.bidlog{
	    margin-top: 24px;
}
}

