page-biddetails {
.Bidprofileimage
{ border-radius: 10px;

    height: 65px;

    text-align: center;
        margin-top:0px;
}
.bidimagepro{
 border: 0 none;
    border-radius: 117px;
    height: 102px;
    max-width: 44%;
    width: 105px;
}
.bidlog{
   float: left;
    margin-top: 8px;

    width: 100%;
}
}
