page-signup {
.bidborder{
	border:3px solid  
}
.biddiv{
margin-top:32px 
}
.bidlabel{
 padding: 3px;
  font-size: 1.5rem !important;
}
.bidlog{
  margin-top: 43px;
}
.bidbutton{
	  background-color: #1c9b9b;
    color: #fff;
    width: 100%;
}
}
