<!--
  Generated template for the DashboardBidWork page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="bidpurple">
   <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Search Jobs</ion-title>
    <ion-buttons end>
    <button ion-button (click)="refresh()">
       <ion-icon name="refresh" style="font-size:2.6rem !important"></ion-icon>
    </button>
    </ion-buttons>
 </ion-navbar>

</ion-header>


<ion-content padding>
<ion-row>

<ion-item class="category-label" >
<ion-label>Category</ion-label>
<ion-select [(ngModel)]="JobCategory" interface="action-sheet" [(ngModel)]="job_category" (ionChange)="onSelectChange($event)">
<ion-option value="{{job.name}}" *ngFor="let job of jobcategory">{{job.name}}</ion-option>
</ion-select>
</ion-item>

<ion-item class="sort-label">
<ion-label>Sort</ion-label>
 <ion-select [(ngModel)]="sortbydate" (ionChange)="onChange($event)" interface="action-sheet" >
              <ion-option value="1" >Older Jobs</ion-option>
               <ion-option value="2" >Newer Jobs</ion-option>
            </ion-select>
</ion-item>

</ion-row>

<div style="padding:11px"  *ngIf="tapsearch1==true">
<div class="bidsearch11">
<img class="serchjpobicon" src="assets/img/001-search-1.png">
<button ion-button color="bidpurple" class="searchbut1" (click)="search(1)">By Title</button>
<button ion-button color="bidpurple" class="searchbut1" (click)="search(2)">By Category</button>
<div style="clear:both;"></div>

</div>
</div>
<div style="padding:11px" *ngIf="tapsearch==true">
<div class="bidsearch123">
<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</div>
</div>



<div *ngFor="let value of Jobsdata;let i=index"  class="main-div">
   <div  tappable style="overflow: hidden;position: relative;display:flex;background-color: #fff;border:2px solid #ddd;width: 100%;float: left;margin-bottom: 11px;height: 70px;"  (tap)="Bidpost(value.id,i)" >
     <div style="padding:10px;align-self:center;float: right;width: 30%;background-color: #fff;height: 100%;">
       <img src="{{value.user_image}}" width="100%" height="100%" style="background:#aaa;max-width: 69%;">
     </div>

     <div style="padding:10px;float: left;width: 74%;font-size: 1rem;background-color: #fff;">
   Job-Title:{{value.job_title}}<br>
   
      <p style="color:#8E8E8E;margin-top:1px;">Job-Category:{{value.job_category}}</p>
      <ion-label no-margin style="font-size: 1.1rem; margin-top: -8px;">Average Rating:{{value.avg_rating}}</ion-label>
      </div>
   <ion-icon name="ios-heart" no-margin no-padding style=" margin: 5px;
    position: absolute;
    right: 13px;
    top: 4px;" ></ion-icon>
    <span style="font-size: 1.2rem;
    position: absolute;
    right: 11px;
    top: 30px;">{{value.likes}}likes</span>
   </div>
   </div>
</ion-content>
<ion-fab tappable right bottom>
    <button ion-fab color="light" (click)="onlinedatausers()"><ion-icon name="chatbubbles"></ion-icon></button>

  </ion-fab>






















<!-- <button ion-button (click)="category()">click me</button> -->




<!--
 <div class="bidpost">
 <div class="bidpostsub">

<div  class="biddivcat" (click)="category()"><p class="bidp">Category</p><img class="bidimg" src="assets/icon/Green-arrow.png"></div>
	</div>
	<div class="bidpostsub">
	<div class="biddivcat" (click)="sort()"><p class="bidp">Sort</p><img class="bidimg" src="assets/icon/order-list.png"></div>
	</div>

</div>


    <div style="padding:11px" *ngIf="tapsearch1==true">
<div class="bidsearch">
<img class="serchjpobicon" src="assets/img/001-search-1.png">
<button ion-button color="bidpurple" class="searchbut" (click)="search(1)">By Title</button>
<button ion-button color="bidpurple" class="searchbut" (click)="search(2)">By Category</button>
<div style="clear:both;"></div>

</div>
</div>

<div style="padding:11px" *ngIf="tapsearch==true">
<div class="bidsearch1">
<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</div>
</div>

  <div *ngIf="mainpopup==true">
  <div         style="padding:0px !important ;background-color: #fff;width: 100%; margin-top: -55px;"*ngFor="let value of Jobsdata;let i=index"  >
   <div style="overflow: hidden;position: relative;display:flex;background-color: #fff;border:1px solid #ddd;width: 100%;float: left;margin-bottom: 0px;height: 70px;"  (click)="Bidpost(value.id,i)" >
     <div style="padding:10px;align-self:center;float: right;width: 30%;background-color: #fff;height: 100%;">
       <img src="{{value.user_image}}" width="100%" height="100%" style="background:#aaa;max-width: 82%;">
     </div>

     <div style="padding:10px;float: left;width: 74%;font-size: 1rem;background-color: #fff;">
   Job-Title:{{value.job_title}}<br>
   
      <p style="color:#8E8E8E;margin-top:1px;">Job-Category:{{value.job_category}}</p>
      <ion-label no-margin style="font-size: 1.1rem; margin-top: -8px;">Average Rating:{{value.avg_rating}}</ion-label>
     

     </div>
   <ion-icon name="ios-heart" no-margin no-padding style=" margin: 5px;
    position: absolute;
    right: 13px;
    top: 4px;" ></ion-icon>
    <span style="font-size: 1.2rem;
    position: absolute;
    right: 11px;
    top: 30px;">{{value.likes}}likes</span>

   </div>

  </div>


 <div style=" background-color: rgba(1, 1, 1, 0.9);
    height: 22%;
    left: 12%;
    position: absolute;
    top: 27%;
    width: 78%;" *ngIf="popupfilter==true">

    <ion-item>

    <ion-range dualKnobs="true" pin="true" [(ngModel)]="structure" color="bidpurple" min="10" max="1000" step="1" snaps="true">
    <ion-icon range-left small color="bidpurple" name="logo-usd"></ion-icon>
<ion-icon range-right color="bidpurple" name="logo-usd"></ion-icon>
    </ion-range>
    </ion-item>
    <button ion-button (click)="taprange()"  style=" font-size: 1.8rem;
    left: 21%;
    position: absolute;color:rgb(44,162,162)" clear>Select Range</button>
     <ion-icon name="close" class="iconclose" (click)="close()"></ion-icon>
   </div>

</div>


<div *ngIf="popupfilterdata==true">
<div style="padding:0px !important ;background-color: #fff;width: 100%; margin-top: -55px;"  *ngFor="let value of Jobsdata;let i=index">
   <div style="overflow: hidden;position: relative;display:flex;background-color: #fff;border:1px solid #ddd;width: 100%;float: left;margin-bottom: 0px;height: 70px;"  (click)="Bidpost(value.id,i)" >
     <div style="padding:10px;align-self:center;float: right;width: 30%;background-color: #fff;height: 100%;">
     <img src="{{value.user_image}}" width="100%" height="100%" style="background:#aaa;max-width: 82%;">
     </div>

     <div style="padding:10px;float: left;width: 74%;font-size: 1rem;background-color: #fff;">
Job-Title:{{value.job_title}}<br>
   
      <p style="color:#8E8E8E;margin-top:1px;">Job-Category:{{value.job_category}}</p>
      <ion-label no-margin style="font-size: 1.1rem; margin-top: -8px;">Average Rating:{{value.avg_rating}}</ion-label>


     </div>
<ion-icon name="ios-heart" no-margin no-padding style=" margin: 5px;
    position: absolute;
    right: 13px;
    top: 4px;" ></ion-icon>
    <span style="font-size: 1.2rem;
    position: absolute;
    right: 11px;
    top: 30px;">{{value.likes}}likes</span>

   </div>
  </div> 
  </div>

<div *ngIf="popupfilterdatasort==true">
<div style="padding:0px !important ;background-color: #fff;width: 100%; margin-top: -55px;"  *ngFor="let value of Jobsdata;let i=index">
   <div style="overflow: hidden;position: relative;display:flex;background-color: #fff;border:1px solid #ddd;width: 100%;float: left;margin-bottom: 0px;height: 70px;"  (click)="Bidpost(value.id,i)" >
     <div style="padding:10px;align-self:center;float: right;width: 30%;background-color: #fff;height: 100%;">
     <img src="{{value.user_image}}" width="100%" height="100%" style="background:#aaa;max-width: 82%;">
     </div>

     <div style="padding:10px;float: left;width: 74%;font-size: 1rem;background-color: #fff;">
Job-Title:{{value.job_title}}<br>
   
      <p style="color:#8E8E8E;margin-top:1px;">Job-Category:{{value.job_category}}</p>
      <ion-label no-margin style="font-size: 1.1rem; margin-top: -8px;">Average Rating:{{value.avg_rating}}</ion-label>
    
     </div>
       <ion-icon name="ios-heart" no-margin no-padding style=" margin: 5px;
    position: absolute;
    right: 13px;
    top: 4px;" ></ion-icon>
    <span style="font-size: 1.2rem;
    position: absolute;
    right: 11px;
    top: 30px;">{{value.likes}}likes</span>

   </div>
  </div> 
  </div>




<div style="background-color: rgba(1, 1, 1, 0.9);
    height:14%;
    left: 12%;
    position: absolute;
    top: 27%;
    width: 78%;" *ngIf="popup2==true">
    <ion-icon name="close" class="iconclose" (click)="close()" style="height:10px;   font-size: 3.1rem !important; "></ion-icon>
    <div style="float: left;width: 100%;" text-left>
        <ion-label no-margin style="color: rgb(28, 155, 155);
    float: left;
    font-size: 1.8rem;
    padding: 10px 0;
    text-align: center;
    width: 100%;">
         Sort By date:
        </ion-label>
        <ion-item style="border:2px solid;border-radius: 2px;float:left;width: 100%">
            <ion-label>Date</ion-label>
            <ion-select [(ngModel)]="sortbydate" (ionChange)="onChange($event)">
              <ion-option value="1" >Older Jobs</ion-option>
               <ion-option value="2" >Newer Jobs</ion-option>
            </ion-select>
        </ion-item>
    </div>
      
   </div>



 <div style="background-color: rgba(1, 1, 1, 0.9);
    height: 13%;
    left: 12%;
    position: absolute;
    top: 27%;
    width: 78%;" *ngIf="popup1==true" >
    <ion-icon name="close" class="iconclose" style="height:10px;font-size:3.1rem  !important;" (click)="close()"></ion-icon>
    <div style="float: left;width: 100%;" text-left>
        <ion-label no-margin style="color: rgb(28, 155, 155);
    float: left;
    font-size: 1.8rem;
    padding: 10px 0;
    text-align: center;
    width: 100%;">
         Select Job Category:
        </ion-label>
        <ion-item style="border:2px solid;border-radius: 2px;float:left;width: 100%">
            <ion-label>JOB Category</ion-label>
            <ion-select [(ngModel)]="job_category" (ionChange)="onSelectChange($event)">
              <ion-option value="{{job.name}}" *ngFor="let job of jobcategory">{{job.name}}</ion-option>
            </ion-select>
        </ion-item>
    </div>
   </div>

<div *ngIf="popupfilterdatasortcategory==true">
<div style="padding:0px !important ;background-color: #fff;width: 100%; margin-top: -55px;"  *ngFor="let value of Jobsdata;let i=index">
   <div style="overflow: hidden;position: relative;display:flex;background-color: #fff;border:1px solid #ddd;width: 100%;float: left;margin-bottom: 0px;height: 70px;"  (click)="Bidpost(value.id,i)" >
     <div style="padding:10px;align-self:center;float: right;width: 30%;background-color: #fff;height: 100%;">
     <img src="{{value.user_image}}" width="100%" height="100%" style="background:#aaa;max-width: 82%;">
     </div>

     <div style="padding:10px;float: left;width: 74%;font-size: 1rem;background-color: #fff;">
Job-Title:{{value.job_title}}<br>
   
      <p style="color:#8E8E8E;margin-top:1px;">Job-Category:{{value.job_category}}</p>
      <ion-label no-margin style="font-size: 1.1rem; margin-top: -8px;">Average Rating:{{value.avg_rating}}</ion-label>
     

     </div>
     <ion-icon name="ios-heart" no-margin no-padding style=" margin: 5px;
    position: absolute;
    right: 13px;
    top: 4px;" ></ion-icon>
    <span style="font-size: 1.2rem;
    position: absolute;
    right: 11px;
    top: 30px;">{{value.likes}}likes</span>
 </div>
  </div> 
  </div>

  <ion-fab right bottom>
    <button ion-fab color="light" (click)="onlinedatausers()"><ion-icon name="chatbubbles"></ion-icon></button>

  </ion-fab> -->

