page-tradesappointdetaillocation {
#detailmap {
     // overflow: initial;
      width: 100%;
      height: 100%;
      // opacity: 0;
     //  transition: opacity 150ms ease-in;
     // position: relative;  
      overflow: visible !important;
    position: initial !important;
    }
}
